/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

}

.container * {
    padding: 30px 0;
}

.myButton {
	background-color:#44c767;
	border-radius:25px;
	color:#ffffff;
    cursor: pointer;
	padding:16px 31px;
	text-decoration:none;
    border: none;
}
